body { margin:0; padding:0; }

#map { 
  position: absolute;
  top: 0;
  bottom: 0; 
  width:100%;
}

.marker {
  background-color: #FFF;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 75%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#menu {
  background: #FFF;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  border-radius: 3px;
  width: 150px;
  border: 1px solid rgba(0,0,0,0.4);
  font-family: 'Open Sans', sans-serif;
}

#menu a {
    font-size: 13px;
    color: #333;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #778899;
    color: #404040;
}

#menu a.active {
    background-color: #333;
    color: #ffffff;
}

#menu a.active:hover {
    background: #333;
}

.legend {
  background-color: #fff;
  border-radius: 3px;
  bottom: 30px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.10);
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 10px;
  position: absolute;
  right: 10px;
  z-index: 1;
}

.legend h4 {
  margin: 0 0 10px;
}

.legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}